body {
    background-color: #fff8b0;
}

label.control-label {
    font-weight: bold;
}

.form-control[multiple] {
    height: 250px;
    overflow-y: auto;
}

div.back-to-list {
    margin-top: 20px;
}

    div.back-to-list a {
        display: inline-block;
        padding: 8px 12px;
        background-color: #ccc;
        color: #333;
        text-decoration: none;
        border-radius: 4px;
    }

        div.back-to-list a:hover {
            background-color: #ddd;
        }
