@model MovieLibrary.Models.Actors

@{
    ViewData["Title"] = "Create a new Actor";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Create a new Actor</h1>
    <div class="back-to-list">
        <a asp-action="Index" class="btn btn-secondary">All Actors</a>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="actor-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group submit-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<link rel="stylesheet" href="~/css/Actors/actors-create.css" asp-append-version="true" />