@model MovieLibrary.Models.Availabilities

@{
    ViewData["Title"] = $"{Model.AvailabilityName} - Delete";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Index" class="btn btn-custom btn-back mt-2">All Platforms</a>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<hr />
<div>
    <p><strong>Platform:</strong> @Model.AvailabilityName</p>
    <hr />
    <h3>Are you sure you want to delete this Platform?</h3>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AvailabilityId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<link rel="stylesheet" href="~/css/Availabilities/availabilities-delete.css" />