body {
    background-color: #ffcccc;
}

.btn-back {
    background-color: green;
    color: white;
    border: 1px solid green;
}

    .btn-back:hover {
        background-color: darkgreen;
        color: white;
    }
